# Ogre3D Plugin Configuration for Release builds

# Define plugin folder
PluginFolder=.

# Define plugins
Plugin=RenderSystem_GL
Plugin=Plugin_ParticleFX
Plugin=Plugin_BSPSceneManager
Plugin=Plugin_PCZSceneManager
Plugin=Plugin_OctreeSceneManager
Plugin=Codec_STBI
